@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7EAFB4;
  --secondary: #B39A72;
  --danger: #C3655E;
  --light-secondary: #d8c69f;
  --lighter-secondary: #ECDFC8;
  
}
.home-sections{
  overflow-x: hidden;
  overflow-y: auto;
}

.tele-mobile {
  position: absolute; 
  top: 45%;         
  left: 50%;         
  transform: translate(-50%, -50%); 
  opacity: 0.8;  
}

.tele-desktop {
  position: absolute;
  top: 48% !important;        
  left: 15%  !important;         
  transform: translate(-50%, -50%)  !important; 
  opacity: 1 !important;
}

.padding-upper {
  padding-top: 120px;
  padding-bottom: 120px;
}

.text-64 {
  font-size: 64px;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.custom-button {
  @apply w-[281px] left-[130px] top-[588px] bg-[#C3655E] rounded-[55px] poppins-semibold text-2xl text-white py-6;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--danger);
	border: 2px solid var(--danger);
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.policy_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px; /* Ensures the track is rounded */
}

.policy_content::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.policy_content::-webkit-scrollbar-thumb {
  background-color: var(--danger);
  border: 2px solid var(--danger);
  border-radius: 10px; /* Rounds the scrollbar thumb */
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.custom-button-other {
  @apply w-[281px] left-[130px] top-[588px] bg-[#C3655E] rounded-[55px] poppins-semibold text-2xl text-white pt-4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}